doctype html
html
  head
    title Voronoi
    script(type="text/javascript", src="node_modules/@svgdotjs/svg.js/dist/svg.min.js")
    script(type="text/javascript", src="rhill-voronoi-core.min.js")
    script(type="text/javascript", src="allfont.js")
    script(type="text/javascript", src="voronoi.js")
    style
      :stylus
        .w-100
          width: 100%
        .box
          width: 200px
          height: 200px
          display: inline-block
          padding: 1ex
      include:stylus voronoi.styl
    //#include virtual="../../analytics.html"
  body.voronoi-font
    #voronoi.w-100
