doctype html
html
  head
    title Voronoi Font
    script(type="text/javascript", src="node_modules/@svgdotjs/svg.js/dist/svg.min.js")
    script(type="text/javascript", src="node_modules/voronoi/rhill-voronoi-core.min.js")
    script(type="text/javascript", src="node_modules/furls/furls.js")
    script(type="text/javascript", src="node_modules/font-webapp/font-webapp.js")
    script(type="text/javascript", src="node_modules/nouislider/dist/nouislider.min.js")
    script(type="text/javascript", src="font.js")
    script(type="text/javascript", src="voronoi.js")
    style
      :stylus
        @media print
          .noprint
            display: none

        textarea
          vertical-align: middle
        .w-100
          width: 100%

        svg
          outline: black solid 2px

        .grid-false .grid, .show-voronoi .sites, .show-sites .vedge, .show-sites .vcell
          display: none

        .font-voronoi #voronoiPuzzle, .font-inverse #sitesPuzzle
          visibility: hidden

        #downloadSVG
          text-align: right
          /.one-false &
            display: none

    style
      include node_modules/nouislider/dist/nouislider.min.css
      :stylus
        .color-false .colors
          display: none
        .sliderGrid
          display: grid
          grid-template-rows: min-content 1fr
          grid-template-columns: repeat(3, 1fr)
          height: 100%
          > label
            text-align: center
          > div
            margin-left: 7px
            margin-right: 7px
            margin-top: 7px
            margin-bottom: 7px
        td
          height: 1px
        .noUi-vertical
          width: 9px
        .noUi-vertical .noUi-handle
          width: 18px
          height: 15px
          right: -5px
          bottom: -7.5px
        td > .slider
          display: flex
          flex-direction: column
          height: 100%
          > label
            flex: 0
          > div
            flex: 1

        .noUi-handle::before, .noUi-handle::after
          background: none
        .noUi-vertical .noUi-tooltip
          background: none
          border: none
          font-size: 10px
          padding: 0px
          left: 50%
          right: inherit
          transform: translate(-50%,-50%)
          z-index: 1

    style#svgStyle
      include:stylus voronoi.styl

    //#include virtual="../../analytics.html"
  body
    table.w-100
      tr
        td(style="text-align: left; vertical-align: middle;")
          h1
            a(href="./") Voronoi Font
        td(style="text-align: right; vertical-align: middle;")
          h2 by <a href="https://erikdemaine.org/">Erik Demaine</a> and <a href="http://martindemaine.org">Martin Demaine</a>, 2017

    table#data.w-100.noprint
      tr
        td
          label(for="text") Enter text to render: &nbsp;
          textarea#text(name="text", rows=4, cols=40) text
        td
          input#voronoiFont(type="radio", name="font", value="voronoi", checked)
          label(for="voronoiFont") Voronoi&nbsp;typeface
          br
          input#inverseFont(type="radio", name="font", value="inverse")
          label(for="inverseFont") Inverse&nbsp;typeface
          br
          input#one(type="checkbox")
          label(for="one") One diagram
        td
          input#sitesVoronoi(type="radio", name="show", value="both", checked)
          label(for="sitesVoronoi") Sites&nbsp;and&nbsp;Voronoi
          br
          input#sitesOnly(type="radio", name="show", value="sites")
          label(for="sitesOnly") Sites&nbsp;only
          |  
          b#sitesPuzzle (puzzle)
          br
          input#voronoiOnly(type="radio", name="show", value="voronoi")
          label(for="voronoiOnly") Voronoi&nbsp;only
          |  
          b#voronoiPuzzle (puzzle)
        td
          input#color(type="checkbox")
          label(for="color") Color&nbsp;cells
          br
          input#grid(type="checkbox")
          label(for="grid") Grid
          br
          input#draggable(type="checkbox")
          label(for="draggable") Draggable
          |  
          button#reset Reset
            span.colors /color
        td.colors
          .sliderGrid
            label(for="hue", title="Hue") H
            label(for="saturation", title="Saturation") S
            label(for="lightness", title="Lightness") L
            #hue
            #saturation
            #lightness

    #size.noprint

    p

    #output.w-100

    .noprint#downloadSVG
      button Download SVG

    hr.noprint

    p.noprint.
      The <b><a href="https://en.wikipedia.org/wiki/Voronoi_diagram">Voronoi
      diagram</a></b> of a set of points (called <b>sites</b>)
      decomposes the plane into cells, one for each point/site, according
      to what points are closest to that site than any other site.
      Equivalently, if you light a fire or grow a bacteria simultaneously
      from all the sites, then the cells are where each fire/bacteria goes,
      and the Voronoi diagram is where they meet each other.

    p.noprint.
      We offer two typefaces are based on the Voronoi diagram.
      &bull;
      In the &ldquo;<b>Voronoi typeface</b>&rdquo;, the sites are arranged
      so that the Voronoi diagram looks like a letter or numeral.
      Here we rely on hiding (dashing) all Voronoi edges that go
      off to infinity (or more precisely, that exit the square frame).
      In this case, we obtain a puzzle font by hiding the Voronoi diagram,
      and just showing the sites; to decipher the letter/numeral, you have
      to compute the Voronoi diagram.
      &bull;
      In the &ldquo;<b>Inverse typeface</b>&rdquo;, the sites themselves are
      arranged to form the letter or numeral.  In this case, the Voronoi diagram
      becomes the puzzle font: to decode the letter, you must reverse engineer
      what sites would produce this Voronoi diagram.
      This problem
      <a href="https://www.sthu.org/research/publications/files/BHH13b.pdf">can
      be solved in polynomial time</a>; see also the related case of
      <a href="https://arxiv.org/abs/1308.5550">allowing additional sites</a>.

    p.noprint.
      There are several font variations for you to play with.
      &bull;
      You can display each letter as a separate Voronoi diagram (as originally
      designed), or combine them into one big Voronoi diagram via the
      <b>One diagram</b> checkbox.
      &bull;
      You can show/hide the <b>sites</b> and/or the <b>Voronoi diagram</b>,
      in particular to produce <b>puzzle fonts</b>.
      &bull;
      You can toggle visibility of the <b>grid</b> that the sites were designed
      on.
      &bull;
      <b>Draggable</b> mode lets you play with modifying the letters by
      dragging the points around, and having the Voronoi diagram dynamically
      update.  (Outside this mode, letter Voronoi diagrams are precomputed.)
      All changes are temporary, and will be reset if the text or font change.
      The <b>Reset</b> button will also reset all changes.
      &bull;
      The <b>slider</b> allows you to scale the size of the letters/numerals.

    p.noprint.
      These fonts were designed in our custom
      <a href="voronoi.html">Voronoi Designer</a> webapp.
      Try making your own letters!
      You can play with our font designs here:
      &bull;
      Voronoi typeface: <SPAN ID="voronoiLinks"></SPAN>
      &bull;
      Inverse typeface: <SPAN ID="inverseLinks"></SPAN>

    p.noprint.
      Check out <a href="http://erikdemaine.org/fonts/">other mathematical and
      puzzle fonts</a>. &bull; Feedback or not working?
      <a href="mailto:edemaine+fonts@mit.edu">Email Erik</a>.
