// also in voronoi.coffee
edgeWidth = 0.01

.bg
  fill: white
.outline
  fill: none
  stroke: green
  stroke-width: edgeWidth

.voronoi
  line
    stroke: black
    stroke-width: 0.01
    stroke-linecap: round

    // font-inverse doesn't highlight infinite lines
    /.font-voronoi &.infinite
      stroke: gray
      stroke-dasharray: 0.01, 0.01
      stroke-linecap: butt
