// also in voronoi.coffee
edgeWidth = 0.01

.bg
  fill: white
.outline
  fill: none
  stroke: black
  stroke-width: edgeWidth

.grid line
  stroke: #ccc
  stroke-width: 0.005

.sites circle
  fill: red
  stroke: none
  &:hover
    fill: purple
  &.outside
    fill: gray
  &.select
    stroke: #cc0
    stroke-width: 0.01

.vedge
  line
    stroke: black
    stroke-width: 0.01
    stroke-linecap: round

    // font-inverse and one-diagram don't highlight infinite lines
    /.font-voronoi.one-false &.infinite
      stroke: gray
    // Colored cells also disable dashing of infinite lines
    /.font-voronoi.one-false.color-false &.infinite
      stroke-dasharray: 0.01, 0.01
      stroke-linecap: butt

.vcell
  polygon
    stroke: none
